 <!-- Registration Form -->
 <form [formGroup]="registerForm">
    <!-- Name -->
    <div class="mb-3">
      <label class="inline-block mb-2" for="name">Name</label>
      <input formGroupName="name" type="text"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Enter Name" id="name"/>
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2" for="email">Email</label>
      <input type="email"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Enter Email" id="email"/>
    </div>
    <!-- Age -->
    <div class="mb-3">
      <label class="inline-block mb-2" for="age">Age</label>
      <input type="number"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" id="age"/>
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label class="inline-block mb-2" for="password">Password</label>
      <input type="password"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Password" id="password"/>
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
      <label class="inline-block mb-2" for="confirm-password">Confirm Password</label>
      <input type="password"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Confirm Password" id="confirm-password"/>
    </div>
    <!-- Phone Number -->
    <div class="mb-3">
      <label class="inline-block mb-2" for="phone-number">Phone Number</label>
      <input type="text"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Enter Phone Number" id="phone-number"/>
    </div>
    <button type="submit"
      class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
        hover:bg-indigo-500">
      Submit
    </button>
  </form>