<input [formControl]="control" [type]="inputType"
    class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
    [placeholder]="inputPlaceholder" [id]="inputId"/>
<div *ngIf="control.touched && control.dirty">
    <p *ngIf="control['errors']?.['required']"
        class="text-red-400">
        * Field is required
    </p>
    <p *ngIf="control['errors']?.['minlength']"
        class="text-red-400">
        * Name has to be longer than 
        {{ control["errors"]?.["minlength"]["requiredLength"] | json }}
        letter(s)
    </p>
    <p *ngIf="control['errors']?.['email']" class="text-red-400">
        * You must type a valid email address
    </p>
    <p *ngIf="control['errors']?.['min']" class="text-red-400">
        * Minimum age requirement is 18
    </p>
    <p *ngIf="control['errors']?.['max']" class="text-red-400">
        * Age can't be over 120
    </p>
    <p *ngIf="control['errors']?.['pattern']" class="text-red-400">
        * Must be at least 8 characters long
        <br>
        * Must include at least 1 uppercase and lowercase character
        <br>
        * Must include at least 1 number
    </p>
</div>