<!-- Main Content -->
<section class="container mx-auto my-8 bg-secondary p-6">
    <div class="rounded relative flex flex-col">
      <div class="font-bold mb-6">Upload Video</div>

      <!-- Upload Dropbox -->
      <div *ngIf="showUploadDropbox; else videoEditor" 
        app-event-blocker
        (dragend)="setIsUserDraggingTo(false)"
        (dragover)="setIsUserDraggingTo(true)"
        (dragenter)="setIsUserDraggingTo(true)"
        (dragleave)="setIsUserDraggingTo(false)"
        (mouseleave)="setIsUserDraggingTo(false)"
        (drop)="storeFile($event)"
        [ngClass]="{'bg-forest-green': isUserDragging}"
        class="w-full px-10 py-40 rounded text-center cursor-pointer border border-dashed
          border-gray-400 transition duration-500 hover:text-white
          hover:bg-forest-green text-xl">
        <h5>Drop your video here...</h5>
        <h5>(*.mp4 files only)</h5>
      </div>



      <!-- Video Editor -->
      <ng-template #videoEditor>

        <!-- Form -->
        <form [formGroup]="uploadForm" (ngSubmit)="uploadVideoFile()">
          <!-- Screenshots -->
          <h2 class="mb-2 text-xl">Select a Thumbnail:</h2>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            <div class="border-8 cursor-pointer border-green-400">
              <img src="assets/img/1.jpg">
            </div>
            <div class="border-8 cursor-pointer border-transparent">
              <img src="assets/img/2.jpg">
            </div>
            <div class="border-8 cursor-pointer border-transparent">
              <img src="assets/img/3.jpg">
            </div>
          </div>

          <!-- Title -->
          <div class="mt-4">
            <label class="block text-xl mb-2">Title:</label>
            <!-- <input type="text" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
            duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"> -->
            <app-input [control]="titleControl" 
        inputId="title" inputPlaceholder=""></app-input>
          </div>

          <div class="mt-4 text-right">
            <button [disabled]="uploadForm.invalid" 
              type="submit" 
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md transition 
                text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none disabled:bg-zinc-500 disabled:cursor-not-allowed">
              Publish
            </button>
          </div>
        </form>
      </ng-template>
    </div>
  </section>
