<!-- Login Form -->
      <form>
        <!-- Email -->
        <div class="mb-3">
          <label class="inline-block mb-2" for="login-email">Email</label>
          <input type="email"
            class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
              duration-500 focus:outline-none rounded bg-transparent
              focus:border-indigo-400"
            placeholder="Enter Email" id="login-email" name="login-email"
            [(ngModel)]="credentials.email"/>
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label class="inline-block mb-2" for="login-password">Password</label>
          <input type="password"
            class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
            duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
            placeholder="Password" id="login-password"/>
        </div>
        <button type="submit"
          class="block w-full bg-indigo-500 text-white font-bold py-1.5 px-3 rounded transition
            hover:bg-indigo-600">
          Submit
        </button>
      </form>