<!-- Login Form -->
      <form #loginForm="ngForm" (ngSubmit)="signIn()">
        <!-- Email -->
        <div class="mb-3">
          <label class="inline-block mb-2" for="login-email">Email:</label>
          <input type="email"
            class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
              duration-500 focus:outline-none rounded bg-transparent
              focus:border-indigo-400"
            placeholder="Enter Email" id="login-email" name="login-email" required 
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            [(ngModel)]="credentials.email"
            #email="ngModel"/>
            <p *ngIf="email.errors && email.touched && email.dirty" class="text-red-400">
              * Email is in an incorrect form
            </p>
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label class="inline-block mb-2" for="login-password">Password:</label>
          <input type="password"
            class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
              duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
            placeholder="Password" id="login-password" name="login-password" required
            [(ngModel)]="credentials.password"
            #password="ngModel"/>
            <p *ngIf="password.errors && password.touched && password.dirty" class="text-red-400">
              * Password is required
            </p>
        </div>
        <button type="submit"
          class="block w-full bg-indigo-500 font-bold text-white py-1.5 px-3 rounded transition
            hover:bg-indigo-600 disabled:bg-zinc-500 disabled:cursor-not-allowed"
            [disabled]="loginForm.invalid">
          Sign in
        </button>
      </form>